{% extends "Main/index.html" %}
{% block content %} 
{% load static %}
<link rel="stylesheet" href="{% static 'assets\stylesheets\agreement.css' %}">
<div class="card card-fluid">
    <div class="Container">
        <hr>
        <div class="page-header">
            <h1>AGREEMENT OF SALE</h1>
            <h5>THIS AGREEMENT OF SALE is executed at Hubli on 30th day of 01 2023,</h5>
            <h4>BETWEEN</h4>
        </div>
        
        <div class="sub-container-1">
            <p><span class="span-2">M/s  SHRI DURGA  DEVELOPERS  AND  PROMOTERS  a  proprietorship  firm  represent  by  its  Proprietor/Owner,  Shri  IRAPPA  NAGAPPA  UNDI  (Aadhar Card No.2469-0528-9725)</span> Aged  about  :  32Years,  Occ:  Business,  having  its  registered  office  at  No.2A,  Upper  Ground  Floor,  Gurudev  Land  Mark,  Shirur  Park,  Vidyanagar,  Hubli-580021.
                Here in after referred to as the<span class="span-2"> “SELLER”</span> (Which expression shall wherever the context so requires. Mean and include his/her/their Legal representatives, successors and assigns) <span class="span-2">ONE PART.</span></P>
                <center><h5>AND</h5></center>
        </div>
        <div class="sub-container-2">
            <p><span class="span-2">(Aadhar Card No:123456789789)</span> Aged about: 21 Years,  Occ: SOFTWARE ENGINNER, residing at: MAJGI BADAVANE HARIHARA (TQ), DAVANAGERE. Here in after referred to as the “PURCHASER” (Which expression shall wherever the context so requires. Mean and include his/her/their Legal representatives, successors and assigns) OTHER PART.</P>
        </div>
        <div class="sub-container-3">
            <ol>
                <li>THE SELLER M/s SHRI DURGA DEVELOPERS AND PROMOTERS, agrees to sell the Plot No.1 at “JAHNVI EMPIRE” measuring:20sqft at the rate of Rs.5000/- per Sqft) for a total consideration of Rs.100000/-(Rupees One Lakh Only) which is inclusive of Water, Electricity, Box Type Drainage System, Tar Roads, and Park Development.</li>
                <li>The SELLER is developer and promoter of the layout, with a power to sell or alienate the schedule property and its title is good marketable and subsisting, right, title and interest of share there in.</li>
                <li>Whereas the SELLER received an amount of Rs.500=00/- (Rupees Five Hundred Only) to M/s. SHRI DURGA DEVELOPERS AND PROMOTERS, account (as per the details mentioned below) towards Agreement of Sale consideration to the above plot from the purchaser.</li>
            </ol>
        </div>
        <hr>
    </div>
</div>
<div class="pagebreake"></div>
<div class="card card-fluid" id="card1">
    <div class="Container">
        <hr>
        <div class="page-table">
            <table>
                <thead>
                  <tr>
                    <th>Mode of Payment</th> 	
                    <th>RTGS/Cheque/Ref No</th> 	
                    <th>Bank</th> 	
                    <th>Cheque/NEFT/ Date</th> 	
                    <th>Clearance Date</th> 	
                    <th>AMOUNT</th> 
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                    </tr>
            </table>
        </div>
        <div class="sub-container-3">
            <ol start="4">
                <li>The PURCHASER confirmed and consented to the terms and conditions mentioned in the application form, which the PURCHASER is also signed simultaneously. If the purchaser fails to pay the next installment within one month from the date of intimation, then the agreement will automatically be canceled without further notice.</li>
                <li>The sale shall be free from all encumbrances of any nature.</li>
                <li>The SELLER assures the PURCHASER that the schedule property is not subject to any acquisitions, proceedings, court attachments or any other by any tax authorities or maintenance again.</li>
                <li>The SELLER shall execute the deed of conveyance upon receipt of full Consideration in favor of the purchaser or their nominees.</li>
                <li>Both the parties agree and under take that they shall not create any encumbrances what so ever in respect of the schedule property and not commit any act of omissions or commission so as to affect the value or utility of the property.</li>
                <li>In case of total area of plot booked increase or decreases then the value will appropriately charge.</li>
                <li>If PURCHASER fails to pay total Amount within 24months then the plot will be cancelled automatically and 15% of the paid sum amount will be deducted and remaining amount will be refunded to the PURCHASER within 90 days of the cancellation. 15% deduction applies even for cancellation of the plot from the PURCHASER.</li>
                <li>If the Purchaser does not make the Payment on given time In Four part i.e 1) 30% for booking and agreement 2) 30% after NA Approved 3) 20% after approved of Layout 4) 20% at the time of final registration within 24months then the SELLER can cancel the plot with the deduction of 20% on paid sum amount and remaining amount will be refunded to the PURCHASER within 90 days of the cancellation. The decision will be entirely taken by the SELLER alone this clause applies to delay of part payment as well.</li>
                <li>In the event if the PURCHASER does not adhere to the time limit for the payment of amounts as agreed herein of the execution of the sale deed then vendors are having absolute power without notice thereof to cancel this agreement for the breach of contract. The PURCHASER hereby gives his/her/their absolute, irrecoverable and unconditional consent here to the SELLER for the same and in such an event the SELLER will be free to deal with schedule property in any manner.</li>
            </ol>
        </div>
        <hr>
    </div>
</div>
<div class="pagebreake"></div>
<div class="card card-fluid" id="card2">
    <div class="Container">
        <hr>
        <div class="sub-container-3">
            <ol start="13">
                <li>If the said Plot is ready for registration (i.e. after approved of Layout sheet and Assessment is obtained) within the period of 24months PURCHASER has to pay remaining amount within one month from date of intimation.</li>
                <li>Due to change in the plan because of Government agencies or otherwise the plot number and location may slightly change.</li>
                <li>In case of land has not been converted to N/A, due to technical reasons or government agencies issues or projects gets cancelled then, amount will be refunded with interest as per the bank TDR rate of interest. This will apply only if N/A is not approved within 24 months from the date of this agreement and amount will be refunded within 90 days from request received from PURCHASER.</li>
            </ol>
            <CENTER><h4>SCHEDULE-A</h4></center>
            <p>All that piece and parcel of covered land bearing Plot No. 1 in Layout called as “JAHNVI EMPIRE” Survey No.100 Hissa No.* assessed 7-28 Rupees Village: Sutagatti Tq. Hubli, Dist. Dharwad, total land measuring 4Acres 14Guntas in that eastern portion of 3Acres 13Gunthas Only and it is bounded by:
                <br><span class="span-3">East by : </span>Survey No.105/1
                <br><span class="span-3">West by : </span> Remaining Portion Land of Same Survey Number
                <br><span class="span-3">North by : </span> Survey No.99
                <br><span class="span-3">South by : </span> Survey No.101/1</p>    
            <CENTER><h4>SCHEDULE-B</h4></center>
            <p>All that piece and parcel of covered land bearing Plot No.1 in Layout called as “JAHNVI EMPIRE” Measuring 20Sqft and it is bounded by:
                <br><span class="span-3">East by : </span>________________
                <br><span class="span-3">West by : </span> ________________
                <br><span class="span-3">North by : </span> ________________
                <br><span class="span-3">South by : </span> ________________</p>
            <p>In witness, where of parties have fixed their signatures to these present in the presence of the attesting witnesses on the day, month and year first written</p> 
            <div class="row pl-6 pr-6">
                <div class="col-sm-6">
                    <h3>SELLER</h3>
                </div>
                <div class="col-sm-6 text-right">
                    <h3>PURCHASER</h3>
                </div>
            </div>
            <div class="para pl-6 pr-6 ">
                <center>----------------------------------: Witnesses: --------------------------------</center>
            </div>
            <div class="row pl-6 pr-6">
                <div class="col-sm-6">
                    <p>1.</p>
                </div>
                <div class="col-sm-6 text-left">
                    <p>1.</p>
                </div>
            </div>  
        </div>
        <hr>
    </div>
</div>
{% endblock content %}