.card{
    transition: transform .3s;
    align-items: center;
    padding-top: 15px;
    text-align: center;
}

.card:hover{
    transform: scale(1.05);
}
.logo{
    padding-bottom: 20px;
    padding-top: 10px;
}

h4{
line-height: 0.7;
}
p{
    color:rgb(123, 123, 178);
}
#card-btn{
    text-decoration: none;
}